@tailwind base;

@layer base {
  :root {
    --background: 30 20% 99%; /* 50 instead of white */
    --foreground: 240 3% 12%; /* 800 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 240 3% 12%; /* 800 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 240 3% 12%; /* 800 */

    --primary: 120 89% 28%; /* primary #359A09 */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 330 7% 96%; /* 100 */
    --secondary-foreground: 240 3% 12%; /* 800 */

    --muted: 330 7% 96%; /* 100 */
    --muted-foreground: 262 3% 46%; /* 500 */

    --accent: 330 7% 96%; /* 100 */
    --accent-foreground: 0 0% 8%; /* 900 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 20% 99%; /* 50 */

    --border: 300 4% 92%; /* 200 */
    --input: 300 4% 92%; /* 200 */

    --ring: 120 89% 28%; /* primary #359A09 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%; /* 950 */
    --foreground: 30 20% 99%; /* 50 */

    --card: 0 0% 8%; /* 900 */
    --card-foreground: 30 20% 99%; /* 50 */

    --popover: 240 10% 4%; /* 950 */
    --popover-foreground: 30 20% 99%; /* 50 */

    --primary: 97 71% 45%; /* primary-dark #68C421 */
    --primary-foreground: 0 0% 8%; /* 900 */

    --secondary: 240 3% 12%; /* 800 */
    --secondary-foreground: 300 4% 92%; /* 200 */

    --muted: 240 3% 12%; /* 800 */
    --muted-foreground: 240 4% 64%; /* 400 */

    --accent: 240 3% 12%; /* 800 */
    --accent-foreground: 30 20% 99%; /* 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 20% 99%; /* 50 */

    --border: 240 3% 12%; /* 800 */
    --input: 240 3% 12%; /* 800 */

    --ring: 97 71% 45%; /* primary-dark #68C421 */
  }
}
